.admin-member-search {
  margin: 2rem 0;
}

.clear-member-search {
  color: $brand-text;
  border: 0;
  cursor: pointer;
  font-weight: bold;

  &.can-clear {
    background-color: $brand-primary;
    color: $brand-white;
  }
}

.admin-search-list {
  margin: 2rem 0;
}

.admin-search-load-more {
  margin-top: 1rem;
}
