.rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: $brand-background;
  box-shadow: 0 2px 5px $brand-dark-shadow;
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker {
  .rdtTimeToggle {
    text-align: center;
  }

  table {
    width: 100%;
    margin: 0;
  }
  td,
  th {
    text-align: center;
    height: 28px;
  }
  td {
    cursor: pointer;
  }
  td.rdtDay:hover,
  td.rdtHour:hover,
  td.rdtMinute:hover,
  td.rdtSecond:hover,
  .rdtTimeToggle:hover {
    background: $brand-primary;
    color: $brand-white;
    cursor: pointer;
  }
  td.rdtOld,
  td.rdtNew {
    color: $brand-gray;
  }
  td.rdtToday {
    position: relative;
  }
  td.rdtToday:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid $brand-primary;
    border-top-color: $brand-black;
    position: absolute;
    bottom: 4px;
    right: 4px;
  }
  td.rdtActive,
  td.rdtActive:hover {
    background-color: $brand-primary;
    color: $brand-white;
    text-shadow: 0 -1px 0 $brand-dark-shadow;
  }
  td.rdtActive.rdtToday:before {
    border-bottom-color: $brand-white;
  }
  td.rdtDisabled,
  td.rdtDisabled:hover {
    background: none;
    color: $brand-gray;
    cursor: not-allowed;
  }

  td span.rdtOld {
    color: $brand-gray;
  }
  td span.rdtDisabled,
  td span.rdtDisabled:hover {
    background: none;
    color: $brand-gray;
    cursor: not-allowed;
  }
  th {
    border-bottom: 1px solid $brand-white;
  }
  .dow {
    width: 14.2857%;
    border-bottom: none;
    cursor: default;
  }
  th.rdtSwitch {
    width: 100px;
  }
  th.rdtSwitch:hover {
    color: $brand-white;
  }
  th.rdtNext,
  th.rdtPrev {
    font-size: 21px;
    vertical-align: top;
  }
  th.rdtNext:hover,
  th.rdtPrev:hover {
    color: $brand-white;
  }

  .rdtPrev span,
  .rdtNext span {
    display: block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
  }

  th.rdtDisabled,
  th.rdtDisabled:hover {
    background: none;
    color: $brand-gray;
    cursor: not-allowed;
  }
  thead tr:first-child th {
    cursor: pointer;
  }
  thead tr:first-child th:hover {
    background: $brand-primary;
  }

  tfoot {
    border-top: 1px solid $brand-white;
  }

  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  button:hover {
    background-color: $brand-primary;
  }

  thead button {
    width: 100%;
    height: 100%;
  }
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: $brand-primary;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter {
  .rdtBtn {
    height: 40%;
    line-height: 40px;
    cursor: pointer;
    display: block;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
  }
  .rdtBtn:hover {
    background: $brand-primary;
    color: $brand-white;
  }
  .rdtCount {
    height: 20%;
    font-size: 1.2em;
  }
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtTime td {
  cursor: default;
}
